<form class="text-center border border-light p-5" action="/items/create" method="POST">
    <h1>Create Course</h1>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" placeholder="Course name" name="title" value="">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" placeholder="Description" name="description"></textarea>
    </div>
    <div class="form-group">
        <label for="imageUrl">Image url</label>
        <input type="text" class="form-control" placeholder="Image Url" name="imageUrl" value="">
    </div>
    <div class="form-group">
        <label for="duration">Duration</label>
        <input type="text" class="form-control" placeholder="4 weeks" name="duration" value="">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

{{!-- <h1>Create New Offer</h1>
<p class="message"></p>
<form action="/items/create" method="POST">
    <div>
        <input type="text" name="name" placeholder="Name...">
    </div>
    <div>
        <input type="text" name="price" placeholder="Price...">
    </div>
    <div>
        <input type="text" name="imageUrl" placeholder="Image url...">
    </div>
    <div>
        <textarea name="description" placeholder="Give us some description about this offer..."></textarea>
    </div>
    <div>
        <input type="text" name="brand" placeholder="Brand...">
    </div>
    <div>
        <button>Create</button>
    </div>
</form> --}}
