<footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">© 2020
        <a href="https://softuni.bg/trainings/3048/js-back-end-september-2020">JS Back-End</a>
    </div>
</footer>

{{!-- примерен изглед --}}
    {{!-- <footer>
        <p><a href="https://softuni.bg">Software University</a> - JS Back End @ 2020</p>
    </footer> --}}
