{{!-- тест дали сървърът работи --}}
{{!-- <h4>HOMEE</h4>
{{age}} --}}

{{!-- примерен изглед --}}
        <div class="container">
            <div class="about-us">
                <div>
                    <img src="/shoes.jpg" alt="">
                    <img src="/shoes2.jpg" alt="">
                </div>
                <p>
                   <a href="/register">Register Now</a> and Try it!
                </p>
            </div>
        </div>
